* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h1 {
  text-align: center;
  color: #444;
  margin-bottom: 20px;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.task-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#taskInput {
  width: 75%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 6px;
  transition: border-color 0.3s;
}

#taskInput:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0069d9;
  color: white;
}

button:active {
  transform: scale(0.98);
}

button.add-task-btn {
  background-color: #007bff;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

li {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f7f9fb;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

button.delete-btn {
  background-color: #dc3545;
  color: white;
  margin-left: 10px;
}

button.delete-btn:hover {
  background-color: #c82333;
}

button.toggle-btn {
  background-color: #17a2b8;
  color: white;
}

button.toggle-btn:hover {
  background-color: #138496;
}

#searchInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 6px;
  transition: border-color 0.3s;
}

#searchInput:focus {
  border-color: #007bff;
  outline: none;
}
